#episode-container{
    background-color: 	#880e4fb7;
    color:white;    
}


.heading-font{
    font-family: 'Impact', 'Charcoal', 'sans-serif';
}

@media only screen and (min-width: 768px) {
.only-small
{
    visibility: hidden;
}
}
