<app-episode-schedule></app-episode-schedule>




<!--  footer -->
<footer class="page-footer text-center font-small mdb-color darken-3 pt-5 wow fadeIn">

        <!--Call to action-->
        <div class="pt-4" style="margin-left:30%;">
            <blockquote>
                HappyTv brings happiness in your house
                <cite>Pratik Kataria</cite>
           </blockquote>
          </div>
        <!--/.Call to action-->
      
        <hr class="my-4">
      
        <!-- Social icons -->
        <div class="pb-4">
            <h3>You can follow us here: </h3>
            <a href="javascript:void()">
                <i class="fab fa-facebook-f fa-2x mr-3"></i>
            </a>
      
            <a href="javascript:void()">
                <i class="fab fa-twitter fa-2x mr-3"></i>
            </a>
      
            <a href="javascript:void()">
                <i class="fab fa-youtube fa-2x  mr-3"></i>
            </a>
      
            
        </div>
        <!-- Social icons -->
      
        <!--Copyright-->
        <div class="footer-copyright py-4">
            © 2018 Copyright:
            <a href="#" target="_blank">Pratik Kataria </a>
        </div>
        <!--/.Copyright-->
      
      </footer>
      