.navbar-header{
    margin: -15px;
    padding: -10px;
}




@media only screen and (max-width: 600px) {
    .centered {
      margin-left: 10px;
    }
  }



@media only screen and (min-width: 768px) {
    .centered {
        margin-left: 30%
    }
}